body {
  background-color: #373867;;
}

.big-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;

}
.text-container h2, h3 {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10px;
}

.text-container h2{
font-size: 30px;
}

.text-container h3{
  font-size: 18px;
  }
.text-container p{
  color: white;
  }

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  margin-top: 10%;
}

.form-container label {
  font-size: 11px;
}
fieldset {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
fieldset label {
  align-self: flex-start;
}

.container-sign {
  display: flex;
  align-self: flex-start;
}
.container-sign a{
  font-size: 12px;
  margin: 4px;
}


input, button {
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 10%;
  margin: auto;
}

.border-green {
  border: 2px solid green;
}

.border-red {
  border: 2px solid red;
} 
.error {
  font-size: 10px;
  color: red;
}
@media screen and (min-width: 1024px) {
  .big-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .form-container {
    width: 40%;
  }
  .text-container {
    width: 50%;
  }
}