body {
  background-color: #373867;;
}
.big-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
.text-container{
  width: 80%;
  margin-bottom: 10px;
}
.text-container h2{
  font-size: 30px;
}
.text-container h3{
  font-size: 21px;
  margin-bottom: 4px;
}
.text-container p, h2, h3{
  color: white;
}
.container-sign {
  display: flex;
  align-self: flex-start;
}
.container-sign a{
  font-size: 12px;
  margin: 4px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 8px;
}
form label {
  font-size: 15px;
}

fieldset {
  width: 100%;
}
fieldset input {
  width: 80%;
}
.border-green {
  border: 2px solid green;
}

.border-red {
  border: 2px solid red; 
} 
.error {
  font-size: 10px;
  color: red;
}

@media screen and (min-width: 1024px) {
  .box1{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  fieldset {
    width: 50%;
  }
  #fieldset-address {
    width: 100%;
  }
  fieldset input {
    width: 80%;
  }
  .box2{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .box3{
    width: 80%;
  }
  .box3 input {
    width: 90%;
  }
  .big-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-bottom: 80px;
    margin-left: 40px;
  }
  .text-container h2 {
    margin-bottom: 20px;
  }
  .text-container h3 {
    margin-bottom: 20px;
  }

}