<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trackgenix</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <div class="header-div-1">
          <i class="fa-solid fa-bars"></i>
          <a href="" class="trackgenix-nav">Trackgenix</a>
        </div>
        <div class="header-div-2">
          <a href="">About Trackgenix</a>
          <a href="">Functions</a>
          <a href="">Info</a>
          <a href="">History</a>
          <a href="">Products and services</a>
        </div>
      </nav>
    </header>
    <aside>
      <input type="search" name="search" placeholder="search" />
      <span>Menu</span>
      <nav class="a-navbar">
          <div>
            <i class="fa-solid fa-house"></i>
            <a href="https://ericks19.github.io/BaSP-A2022-Etapa-1/semana-06/views/index.html">Home</a>
          </div>
          <div>
            <i class="fa-solid fa-user-plus"></i>
            <a href="https://ericks19.github.io/BaSP-A2022-Etapa-1/semana-06/views/sign-up.html">Sign up</a>
          </div>
          <div>
            <i class="fa-regular fa-user"></i>
            <a href="https://ericks19.github.io/BaSP-A2022-Etapa-1/semana-06/views/login.html">Login</a>
          </div>
          <div>
            <i class="fa-regular fa-envelope"></i>
            <a href="">Contact</a>
          </div>
          <p class="get-in-touch">Get in touch</p>
          <div class="info-sidebar">
            <div>
              <i class="fa-regular fa-envelope"></i>
              <p>info@gigantech.com</p>
            </div>
            <div>
              <i class="fa-solid fa-phone"></i>
              <p>(+000)-000000</p>
            </div>
            <div>
              <i class="fa-solid fa-map-pin"></i>
              <p>1234 Somewhere Road
                Somewhere, XX 000-0000</p>
            </div>
          </div>
      </nav>
    </aside>
    <main>
      <section class="home">
        <div>
          <h1>Trackgenix</h1>
          <p class="home-first-p">
            Make it easy to record hours worked on each project and work team at
            GigaTech Software Solutions SA
          </p>
          <p class="home-second-p">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
            industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <button>LEARN MORE</button>
        </div>
        <img class="woman-tablet" src="../assets/image-1.png" alt="Woman seeing a tablet"/>
      </section>
      <section class="about-section">
        <h2>About Trackgenix</h2>
        <div class="about-trackgenix">
          <div class="productivity">
            <article>
              <img src="../assets/light-bulb.png" alt="light bulb"/>
              <div>
                <h3>Productivity booster</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
            <article>
              <img src="../assets/user.png" alt="user logo"/>
              <div>
                <h3>Leadership and team management</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
          </div>
          <div class="work-traceability">
            <article>
              <img src="../assets/shhet-search.png" alt="a magnifying glass" />
              <div>
                <h3>Work traceability</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
            <article>
              <img src="../assets/hand.png" alt="thumbs up"/>
              <div>
                <h3>Decision making</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
      <section class="functions-section">
        <h2>Functions</h2>
        <div class="functions">
          <div class="record-of-hour">
            <article>
              <img src="../assets/clock.png" alt="clock"/>
              <div>
                <h3>Record of hours</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
            <article>
              <img src="../assets/gear.png" alt="gear"/>
              <div>
                <h3>Resource management</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
          </div>
          <div class="reports">
            <article>
              <img src="../assets/sheet.png" alt="report"/>
              <div>
                <h3>Reports</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
            <article>
              <img src="../assets/person.png" alt="multiple rol"/>
              <div>
                <h3>Multiple roles</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
      <div>
        <h2 class="h2-information">Information</h2>
        <form class="information-form">
          <div>
            <label for="name">Name</label>
            <input class="long-bar" id="name" type="text" placeholder="text your name" />
          </div>
          <div>
            <label for="email">Email</label>
            <input class="long-bar" id="email" type="email" placeholder="text your email" />
          </div>
          <span>Contact area</span>
          <div class="contact-area">
            <div>
              <input type="radio" name="information" id="human-resources" />
              <label for="human-resources">Human Resources</label>
            </div>
            <div>
              <input type="radio" name="information" id="systems" />
              <label for="systems">Systems</label>
            </div>
            <div> 
              <input type="radio" name="information" id="commercialization"/>
              <label for="commercialization">Commercialization</label>
            </div>
          </div>
          <div>
            <label for="messages" >Messages</label>
            <textarea id="messages" cols="30" rows="5" placeholder="Text your message"></textarea>
          </div>
          <input class="buttom" type="submit" value="Send" />
        </form>
      </div>
      <section class="our-history">
        <h2>Our history</h2>
        <h3>GigaTech Software Solutions SA</h3>
        <div class="paragraphs">
          <div>
            <p class="history-first-p">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book.
            </p>
          </div>
          <div class="our-history-right-p">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book.
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book.
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book.
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book.
            </p>
          </div>
        </div>
      </section>
      <section class="products-and-services">
        <h2>Products & Services</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and 
          typesetting industry. Lorem Ipsum has been the industry's
           standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and 
          typesetting industry. Lorem Ipsum has been the industry's
           standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and 
          typesetting industry. Lorem Ipsum has been the industry's
           standard dummy text ever since the 1500s, </p>
      </section>
      <div class="products-busissnes-support">
        <section class="products-products-lists">
          <div class="products">
            <h2>Products</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
          <div class="products-lists">
            <ol>
                <li>1.Funcionalities</li>
                <li>2.Downloads</li>
                <li>3.Integration</li>
                <li id="last-li-products">4.Additional features</li>
            </ol>
          </div>
        </section>
        <section class="busisness-busisness-list">
          <div class="busisness">
            <h2>Business</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
          <div class="busisness-list">
            <ol>
                <li>1.About us</li>
                <li>2.Customers</li>
                <li>3.Means</li>
                <li id="last-li-busisness">4.Support</li>
            </ol>
          </div>
        </section>
        <section class="support-suport-list">
          <div class="support">
            <h2>Support</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
          <div class="support-list">
            <ol>
                <li>1.Aid</li>
                <li>2.Tutorials</li>
                <li>3.API</li>
                <li id="last-li-support">4.Contact</li>
            </ol>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i>
      </div>
      <p> 
        Copyright © 2022 Radium Rocket. All rights reserved.
      </p>
    </footer>
  </body>
</html>