<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trackgenix</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
          <script src="/javascript/sign-up.js"></script>
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <div class="header-div-1">
          <i class="fa-solid fa-bars"></i>
          <a href="" class="trackgenix-nav">Trackgenix</a>
        </div>
        <div class="header-div-2">
          <a href="">About Trackgenix</a>
          <a href="">Functions</a>
          <a href="">Info</a>
          <a href="">History</a>
          <a href="">Products and services</a>
        </div>
      </nav>
    </header>
    <aside>
      <input type="search" name="search" placeholder="search" />
      <span>Menu</span>
      <nav class="a-navbar">
          <div>
            <i class="fa-solid fa-house"></i>
            <a href="">Home</a>
          </div>
          <div>
            <i class="fa-solid fa-user-plus"></i>
            <a href="">Sign up</a>
          </div>
          <div>
            <i class="fa-regular fa-user"></i>
            <a href="">Login</a>
          </div>
          <div>
            <i class="fa-regular fa-envelope"></i>
            <a href="">Contact</a>
          </div>
          <p class="get-in-touch">Get in touch</p>
          <div class="info-sidebar">
            <div>
              <i class="fa-regular fa-envelope"></i>
              <p>info@gigantech.com</p>
            </div>
            <div>
              <i class="fa-solid fa-phone"></i>
              <p>(+000)-000000</p>
            </div>
            <div>
              <i class="fa-solid fa-map-pin"></i>
              <p>1234 Somewhere Road
                Somewhere, XX 000-0000</p>
            </div>
          </div>
      </nav>
    </aside>
    <main>
      <div id="container-register-form">
        <form id="form-login" action="">
          <label for="">First name</label>
          <input id="first-name" name="firstname" type="text">

          <label name="last-name" for="">Last name</label>
          <input id="last-name" type="text">

          <label for="">DNI</label>
          <input id="dni" name="dni" type="text">

          <label for="">Date of birth</label>
          <input id="bithdate" type="text">

          <label for="">Phone</label>
          <input id="phone"type="text">

          <label for="">Locality</label>
          <input id="locality" type="text">

          <label for="">Address</label>
          <input id="address" type="text">

          <label for="">Postal Code</label>
          <input id="zipcode" type="text">

          <label for="">Email</label>
          <input id="email" type="text">

          <label for="">Password</label>
          <input id="password" type="password">

          <label for="">Repeat password</label>
          <input id="password2" type="password">

          <input type="submit" value="Register">
        </form>
      </div>
    </main>
    <footer>
      <div>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i>
      </div>
      <p>
        Copyright © 2022 Radium Rocket. All rights reserved.
      </p>
    </footer>
  </body>
</html>
