header {
  box-sizing: border-box;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #d9d9d9;
  padding: 25px;
  width: 100%;
  border-bottom: solid 1.5px;
}

a {
  text-decoration: none;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav i {
  padding-left: 10px;
}
.header-div {
  display: none;
}

.header-nav a {
  padding-right: 20px;
}
.header-div a {
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .header-div {
    display: flex;
  }
  .trackgenix-nav {
    display: none;
  }
  }

  @media screen and (min-width: 1024px) {
  .trackgenix-nav {
    display: flex;
  }

  }