header {
  box-sizing: border-box;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #d9d9d9;
  padding: 25px;
  width: 100%;
  border-bottom: solid 1.5px;
}

a {
  text-decoration: none;
}

.header-nav a {
  padding-left: 50px;
}

.header-nav i {
  padding-left: 30px;
}

.header-div {
  display: inline-block;
  padding-left: 500px;
}

.header-div a {
  padding-left: 30px;
}