main {
  margin-top: 70px;
  margin-left: 300px;
}

.home {
  width: 90%;
  margin: auto;
  display: flex;
 justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
 
}

.home div {
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
  justify-content: center;

}
.home img {
  margin-top: 10px;
  border-radius: 10px;
 width: 300px;
  flex-grow: 0.5;
}

.home h1 {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 30px;
}

.home-first-p {
  font-size: 22px;
  line-height: normal;
  font-weight: bold;
}

.home-second-p {
  margin-top: 30px;
  line-height: 25px;
}

.home button {
  margin-top: 35px;
  padding: 10px 25px;
  background-color: white;
  border-radius: 5px;
  align-self: flex-start;
}

section h2 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 100px;
  /* padding-left: 20px; */
  margin-bottom: 30px;
}


.about-trackgenix {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.about-trackgenix img {
  display: none;
  padding-right: 10px;
}

/* 
.about-trackgenix {
  display: flex;
  flex-direction: row;
  margin: auto;
  
} */
.about-trackgenix div {
  display: flex;
  flex-wrap: wrap;
  

}
.about-trackgenix div article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.productivity h3 {
  font-size: 25px;
  margin-bottom: 10px;
  /* padding: 10px; */
}
.productivity p {
  line-height: 25px;
  margin-bottom: 30px;
}

.work-traceability p {
  line-height: 25px;
  margin-bottom: 30px;
}

.work-traceability h3 {
  font-size: 25px;
  margin-bottom: 10px;
  /* padding: 10px; */
}





.functions{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.functions div {
  display: flex;
  flex-wrap: wrap;
}
.functions div article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.functions img {
  display: none;
  padding-right: 10px;
}

.record-of-hour h3 {
  font-size: 25px;
  /* padding: 10px; */
}
.record-of-hour p {
  line-height: 25px;
  margin-bottom: 30px;
}

.reports h3 {
  font-size: 25px;
  /* padding: 10px; */
}
.reports p {
  line-height: 25px;
  margin-bottom: 30px;
}






.h2-information {
  font-size: 40px;
  padding-top: 100px;
  padding-left: 160px;
}

form {
  margin-top: 30px;
  margin-left: 400px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  padding-bottom: 8px;
}

form input {
  display: block;
}

.long-bar {
  width: 220px;
  height: 20px;
}

.contact-area {
  padding-left: 30px;
}

.contact-area input {
  display: inline-block;
  margin-top: 5px;
}
.contact-area label {
  display: inline-block;
  
}

.buttom {
  margin-left: 165px;
  margin-top: 12px;
  padding: 7px 20px;
  border-radius: 5px rgb(255, 255, 255);
}

.our-history h2 {
  margin-bottom: 0%;
}

.our-history h3 {
  font-size: 25px;
  padding-left: 22px;
}

.our-history>p {
  display: inline-block;
  font-size: 19px;
  width: 30%;
  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: 220px;
}

.our-history div {

  width: 40%;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 100px;
  float: right;

}

.our-history-right-p p {
  padding-top: 10px;
}

.products h2 {
  background-color: #d9d9d9;
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.products {
  display: inline-block;
  width: 40%;
  margin-left: 60px;
}

.products p {
  width: 50%;
  margin-left: 10px
}

.products-lists {
  display: inline-block;
  background-color: #d9d9d9;
  padding: 30px;
}

.products-lists li {
  display: inline-block;
  padding-bottom: 40px;
}

#last-li {
  padding-bottom: 0px;
}

.busisness h2 {
  background-color: #d9d9d9;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.busisness {
  display: inline-block;
  width: 40%;
  margin-left: 60px;
}

.busisness p {
  width: 50%;
  margin-left: 10px
}

.busisness-list {
  display: inline-block;
  background-color: #d9d9d9;
  padding: 30px;
}

.busisness-list li {
  display: inline-block;
  padding-bottom: 40px;
  width: 120px;
}

#last-li {
  padding-bottom: 0px;
}

.support h2 {
  background-color: #d9d9d9;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.support {
  display: inline-block;
  width: 40%;
  margin-left: 60px;
}

.support p {
  width: 50%;
  margin-left: 10px
}

.support-list {
  display: inline-block;
  background-color: #d9d9d9;
  padding: 30px;
  margin-bottom: 100px;
}

.support-list li {
  display: inline-block;
  padding-bottom: 40px;
  width: 120px;
}

#last-li {
  padding-bottom: 0px;
}