aside {
  position: fixed;
  display: none;
  width: 250px;
  padding-left: 30px;
  height: 100%;
  background-color: #d9d9d9;
}

aside input {
  width: 80%;
  margin-top: 25px;
}

aside span {
  display: block;
  margin-top: 50px;
  border-bottom: solid 1.3px;
}

.a-navbar div {
  margin-top: 25px;
}

.get-in-touch {
  margin-top: 100px;
  border-bottom: solid 1px;
}

.info-sidebar p {
  display: inline-block;
  width: 80%;
  padding-left: 20px;
  padding-top: 15px;
}

@media screen and (min-width: 1024px){
  aside{
    display: flex;
    flex-direction: column;
  }
}