body {
  background-color: #373867;;
}
h2, h3, .big-container p{
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10px;
}

.big-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  margin-top: 10%;
  
}
.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

#form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 10%;
  margin: auto;
}
.border-green {
  border: 2px solid green;
}

.border-red {
  border: 2px solid red;
} 

@media screen and (min-width: 1024px) {
  .big-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    width: 50%;
  }
  .text-container {
    width: 50%;
  }
}